.databasesDetails__tables__container {
    column-count: 2; 
    column-width: 50%; 
    column-gap: 10px;
}

.databasesDetails__table {
    break-inside: avoid;
}

.databasesDetails__tables__title {
    display: block;
    text-align: center;
}

.databasesDetails__table {
    margin-bottom: 1rem;
}